@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>My Name Is Hamza Amjad. I am a Student of University of Illinois at Chicago. This is my final project of CS 341.
   My Hobby is to play video games, especially zombie shooting games. I am a huge fan of Dying Light.</p>
